{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
    <form>
        <input placeholder="put your URL here"
            style="border-bottom: .3px solid #444;" id="url-input"></input>
        <button id="url-submit">
            <input type="submit" value="🔗" hidden /> 🔗
        </button>
        <br />
    </form>
    <div class="results">
        <p id="res-link" class="res-link"></p><span id="copy"></span>
    </div>
{% endblock %}
{% block scripts_body %}
<script src="static/index.js"></script>
{% endblock %}