{%extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="flex flex-col items-center">
    <form>
        <input class="lg:w-96 placeholder:text-[#424242]" placeholder="put your URL here" style="border-bottom: .3px solid #444;"
            id="url-input"></input>
        <button id="url-submit"
            class="w-auto ml-2 p-[.6em] mt-2 bg-[#181818] font-mono hover:bg-[#242424] focus-visible:outline-none">
            <input type="submit" value="🔗" hidden /> 🔗
        </button>
        <br />
    </form>
    <div class="flex float-left items-center mt-2">
        <p id="res-link" class="pt-2 pr-2"></p><span id="copy"></span>
    </div>
</div>
{% endblock %}
{% block scripts_body %}
<script src="static/index.js"></script>
{% endblock %}