{% extends "layout.html" %}
{% block head %}
{{ super() }}
<title>Terms of Use</title>
{% endblock %}
{% block content %}
  <div style="margin-top: 3em; margin-left: 3em; max-width: 45em; font-family: monospace;">
    <h1>Terms of Use</h1>
    <p>Why is the font ugly? I don't know. Anyway,</p>
    <p>Here's some basic rules you must follow:</p>
    <ul style="font-size: x-large;">
        <li>Do not create any shortlinks to spam, scams and any illegal material!</li>
    </ul>
    <p>This one rule is very simple to follow! If you find any links that break the rules, feel free to report them at the link in the bottom.</p>
    <p>Any illegal material will be forwarded to the proper authorities when reported.</p>
</div>
{% endblock %}