<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="static/base.css" />
  <title>{{ app_name }}</title>
  {% endblock %}
</head>

<body>
  <div class="flex h-screen justify-center items-center font-mono">
    <div class="flex flex-col m-4">
      {% block content %}

      {% endblock %}
    </div>
  </div>
  {% block scripts_body %}
  {% endblock %}
</body>

</html>