<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/base.css" />
  {% endblock %}
</head>

<body>
  {% block content %}
  {% endblock %}
  <div class="bottom">
    <p>by <a href="/">980</p></a> <span class="sep"></span>    
    <p><a href="/tos">terms of use</a></p> <span class="sep"></span>
    <p><a href={{report_link}}>report a link</a></p><span class="sep"></span>
    <p><a href="https://github.com/Greek/SmolLink">source</a></p>
  </div>
  {% block scripts_body %}
  {% endblock %}
</body>

</html>